<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% product.name %></title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <h2><%= product.name %></h2>
    <ul>
      <li>Price: $<%= product.price%></li>

      <li>Price: $<%= product.category%></li>
    </ul>

    <a href="/products/"> <button>All Products ⬅</button></a>
    <a href="/products/<%=product._id%>/edit">
      <button>Edit Products ⬅</button></a
    >
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
      <button>DELETE</button>
    </form>
  </body>
</html>
